<div class="mx-auto p-4 flex-grow text-center">
  <h2 class="text-4xl text-dark-blue font-bold mb-6">Consultar Facturas</h2>
  <hr class="border-dark-blue">
  <div class="font-bold mx-auto inline-block mt-10 w-full">
    <div class="flex items-center justify-between mb-3 w-2/3 mx-auto">
      <div class="flex-1">
        <select [(ngModel)]="filtroSeleccionado" (ngModelChange)="cambiarFiltro()" class="mt-2 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline focus:outline-red-800 focus:shadow-outline">
          <option value="recientes">Más recientes</option>
          <option value="antiguas">Más antiguas sin pagar</option>
          <option value="ingresos">Ingresos sin cobrar</option>
          <option value="proveedor">Filtrar por proveedor</option>
          <option value="proyecto">Filtrar por proyecto</option>
        </select>
        <input *ngIf="filtroSeleccionado === 'proveedor' || filtroSeleccionado === 'proyecto'" [(ngModel)]="filtroTexto"
               (ngModelChange)="buscarPorFiltro()" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline focus:outline-red-800 focus:shadow-outline mt-2"
               type="text" [placeholder]="filtroSeleccionado === 'proveedor' ? 'Nombre del Proveedor' : 'Nombre del Proyecto'">
      </div>
      <a routerLink="/panel-interno/reg-factura/" class="bg-bright-red hover:bg-red-600 text-white font-bold py-2 mx-4 px-8 rounded focus:outline-none focus:shadow-outline mt-2">
        Añadir Factura
      </a>
    </div>
    <div class="mt-10 overflow-y-auto max-h-[600px] w-full mx-auto">
      <h3 class="text-xl text-left mb-4 font-bold">Tabla de Facturas:</h3>
      <table class="min-w-full border-collapse mt-10">
        <thead>
          <tr>
            <th class="px-2 py-3 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Proveedor</th>
            <th class="px-2 py-3 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Nombre factura</th>
            <th class="px-2 py-3 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Estado</th>
            <th class="px-2 py-3 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Importe</th>
            <th class="px-2 py-3 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Fecha de Subida</th>
            <th class="px-2 py-3 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Número de Factura</th>
            <th class="px-2 py-3 bg-gray-50  text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let factura of facturasFiltradas">
            <td class="px-2 py-4 whitespace-no-wrap border-b border-gray-200">{{ factura.id_proveedor }}</td>
            <td class="px-2 py-4 whitespace-no-wrap border-b border-gray-200">{{ factura.nombreDocumento }}</td>
            <td class="px-2 py-4 whitespace-no-wrap border-b border-gray-200" [ngClass]="{'text-green-500': factura.pagada === 'true', 'text-red-500': factura.pagada === 'false'}">{{ factura.pagada === 'true' ? 'Abonado' : 'Sin abonar' }}</td>
            <td class="px-2 py-4 whitespace-no-wrap border-b border-gray-200">{{ factura.importe | currency: 'EUR' }}</td>
            <td class="px-2 py-4 whitespace-no-wrap border-b border-gray-200">{{ factura.fechaSubida | date: 'dd/MM/yyyy' }}</td>
            <td class="px-2 py-4 whitespace-no-wrap border-b border-gray-200 text-blue-600 font-semibold" routerLink="/panel-interno/mod-factura/{{factura.id}}">{{ factura.numFactura }}</td>
            <td class="px-2 py-4 whitespace-no-wrap border-b border-gray-200">
              <a href="{{ factura.url }}" target="_blank" class="text-blue-500 hover:text-blue-800">Ver Documento</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
