<header class="fixed top-0 z-50 w-full bg-bright-red/100 border-b border-gray-800">
  <div class="w-1/3">
    <a class="flex max-w-[140px] items-center pr-16">
      <img src="assets/logo2.png" alt="logo Montaje Industrial Manises" class=" w-20">
      <p class="text-xl text-very-light-gray font-bold whitespace-nowrap justify-center">Montaje Industrial Manises</p>
    </a>
  </div>
</header>
  <aside class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 lg:pt-28 bg-dark-blue">
    <div class="h-full px-3 pb-4 overflow-y-auto flex flex-col justify-between">
      <div>
        <ul class="space-y-2 mt-6 font-medium text-white">
          <li class="border-b hover:border-b-2 hover:border-blue-200 border-gray-500 pb-2 hover:text-blue-200">
            <a routerLink="/panel-interno/general-inicio">
              <span class="flex-1 ms-3">Inicio</span>
            </a>
          </li>
          <li class="border-b hover:border-b-2 hover:border-blue-200 border-gray-500 pb-3">
                <span (click)="toggleSubMenu('empleados')" class="flex-1 ms-3 hover:text-blue-200 cursor-pointer">Empleados</span>
              <!-- Submenú de Empleados -->
              <ul class="ml-6 mt-2 space-y-2" *ngIf="activeSubMenu === 'empleados'">
                <li><a class="hover:text-blue-200" routerLink="/panel-interno/reg-trabajador">Nuevo empleado</a></li>
                <li><a class="hover:text-blue-200" routerLink="/panel-interno/general-trabajador">Consultar empleados</a></li>
              </ul>
            </li>
          <li class="border-b hover:border-b-2 hover:border-blue-200 border-gray-500 pb-3">
              <span (click)="toggleSubMenu('proyectos')" class="flex-1 ms-3 whitespace-nowrap hover:text-blue-200 cursor-pointer">Proyectos</span>
              <ul class="ml-6 mt-2 space-y-2" *ngIf="activeSubMenu === 'proyectos'">
                <li><a class="hover:text-blue-200" routerLink="/panel-interno/reg-proyecto">Añadir nuevo proyecto</a></li>
                <li><a class="hover:text-blue-200" routerLink="/panel-interno/general-proyecto">Consultar proyectos</a></li>
              </ul>
          </li>
          <li class="border-b hover:border-b-2 hover:border-blue-200 border-gray-500 pb-3">
              <span (click)="toggleSubMenu('facturas')" class="flex-1 ms-3 whitespace-nowrap hover:text-blue-200 cursor-pointer">Facturas</span>
              <ul class="ml-6 mt-2 space-y-2" *ngIf="activeSubMenu === 'facturas'">
                <li><a class="hover:text-blue-200" routerLink="/panel-interno/reg-factura">Añadir factura</a></li>
                <li><a class="hover:text-blue-200"routerLink="/panel-interno/general-facturas">Consultar facturas</a></li>
              </ul>
          </li>
          <li class="border-b hover:border-b-2 hover:border-blue-200 border-gray-500 pb-3 ">
              <span (click)="toggleSubMenu('proveedores')" class="flex-1 ms-3 whitespace-nowrap hover:text-blue-200 cursor-pointer">Proveedores</span>
              <ul class="ml-6 mt-2 space-y-2" *ngIf="activeSubMenu === 'proveedores'">
                <li><a class="hover:text-blue-200" routerLink="/panel-interno/reg-proveedor">Añadir proveedor</a></li>
                <li><a class="hover:text-blue-200" routerLink="/panel-interno/general-proveedor">Consultar proveedores</a></li>
              </ul>
          </li>
        </ul>
      </div>
      <!-- Contenedor del botón "Desconectar" -->
      <div class="mt-6 mb-6 p-1 font-medium text-white hover:border-2 hover:border-blue-200 hover:text-blue-200 rounded-xl">
        <a>
          <span routerLink="/login"class="flex-1 ms-3">Desconectar</span>
        </a>
      </div>
    </div>
  </aside>
<div class=" sm:ml-64 ">
  <div class="p-9 bg-white h-max mt-20">
        <router-outlet></router-outlet>
  </div>
</div>

